<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="stealFocusForecastConfiguration" type="StealFocus.Forecast.Configuration.StealFocusForecastConfiguration, StealFocus.Forecast"/>
  </configSections>

  <log4net configSource="log4net.config" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <stealFocusForecastConfiguration xmlns="urn:StealFocus.Forecast.Configuration">
    <windowsAzureSubscriptions>
      <windowsAzureSubscription id="Test" subscriptionId="3091b23e-c2c6-4d6c-a0ae-2d469492910f" certificateThumbprint="1234"/>
    </windowsAzureSubscriptions>
    <windowsAzurePackages>
      <windowsAzurePackage id="Test" storageAccountName="storageAccountName" containerName="containerName" blobName="blobName"/>
    </windowsAzurePackages>
    <windowsAzureDeploymentDeletes>
      <windowsAzureDeploymentDelete 
        id="Test" 
        serviceName="serviceName" 
        deploymentSlot="deploymentSlot" 
        scheduledTime="2000-01-01T22:00:00" 
        packageConfigurationId="Test" 
        subscriptionConfigurationId="Test" />
    </windowsAzureDeploymentDeletes>
  </stealFocusForecastConfiguration>

</configuration>
