<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="stealFocusForecastConfiguration" type="StealFocus.Forecast.Configuration.StealFocusForecastConfiguration, StealFocus.Forecast"/>
  </configSections>

  <stealFocusForecastConfiguration xmlns="urn:StealFocus.Forecast.Configuration">
    <windowsAzureSubscriptions>
      <windowsAzureSubscription id="" subscriptionId="" certificateThumbprint="" />
    </windowsAzureSubscriptions>
    <windowsAzurePackages>
      <windowsAzurePackage id="" storageAccountName="" containerName="" blobName="" />
    </windowsAzurePackages>
    <windowsAzureDeploymentDeletes>
      <windowsAzureDeploymentDelete id="" serviceName="" deploymentSlot="" scheduledTime="" subscriptionConfigurationId="" />
    </windowsAzureDeploymentDeletes>
  </stealFocusForecastConfiguration>

  <!--<system.net>
    <defaultProxy
      enabled="true"
      useDefaultCredentials="true">
      <proxy
        bypassonlocal="true"
        proxyaddress="http://ukproxy:8080/" />
    </defaultProxy>
  </system.net>-->

</configuration>