<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="stealFocusForecastConfiguration" type="StealFocus.Forecast.Configuration.StealFocusForecastConfiguration, StealFocus.Forecast"/>
  </configSections>

  <log4net configSource="log4net.config" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <stealFocusForecastConfiguration xmlns="urn:StealFocus.Forecast.Configuration">
    <windowsAzureSubscriptions>
      <!--
        Specify your subscription information here. The certificate matching 
        the thumprint must be stored in the current user's "Personal" certificate
        store.
      -->
      <windowsAzureSubscription
        id="myArbitraryAzureSubscriptionName"
        subscriptionId="13408C03-E96F-4768-B3F8-BFE0CAB7EBC9"
        certificateThumbprint="0000000000000000000000000000000000000000" />
    </windowsAzureSubscriptions>
    <windowsAzureDeploymentDeletes>
      <!-- 
        Delete any Production or Staging deployment of the specified service 
        name between 00:00hrs to 08:00hrs and 18:00hrs to 23:59hrs, checking 
        every 10mins within those periods, using the named subscription.
        
        id = free text (will show in logs), must be unique.
        serviceName = must match a valid Azure service name e.g. "http://[serviceName].cloudapp.net/".
        subscriptionConfigurationId = must match a configured "windowsAzureSubscription" id above.
        deploymentSlot - name = valid Azure deployment slot name e.g. "Staging" or "Production".
        schedule - name = free text, must be unique.
      -->
      <windowsAzureDeploymentDelete
        id="myArbitraryDeploymentDeleteName"
        serviceName="myAzureServiceName"
        pollingIntervalInMinutes="10"
        subscriptionConfigurationId="myArbitraryAzureSubscriptionName">
        <deploymentSlots>
          <deploymentSlot name="Staging" />
          <deploymentSlot name="Production" />
        </deploymentSlots>
        <schedules>
          <schedule name="MorningDelete" dailyStartTime="00:00:00" dailyEndTime="08:00:00" />
          <schedule name="EveningDelete" dailyStartTime="18:00:00" dailyEndTime="23:59:59" />
        </schedules>
      </windowsAzureDeploymentDelete>
    </windowsAzureDeploymentDeletes>
  </stealFocusForecastConfiguration>

  <!--<system.net>
    <defaultProxy
			enabled="true"
			useDefaultCredentials="true">
      <proxy
				bypassonlocal="true"
				proxyaddress="http://myProxy:8080/" />
    </defaultProxy>
  </system.net>-->

</configuration>
